/*Referente a página de Entrar.html*/

/*Importação de Tipografias*/

@font-face {
  font-family: RobotoL;
  src: url(../tipografia/Roboto/Roboto-Light.ttf);
}

@font-face {
font-family: RobotoB;
src: url(../tipografia/Roboto/Roboto-Bold.ttf);
}

/*Container em que o formulário ficará localizado*/

.container{
  border: 1px solid #4169E1;
  padding: 40px;
  width: 450px;
  margin: 40px auto;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 10px;
}

/*Desing do Formulário*/

.field {
  margin-bottom: 10px;
  
}

.field label {
  display: block;
  font-family: RobotoB;
  font-size: 10px;
  padding-bottom: 3px;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 350px;
  height: 20px;
  padding: 5px;
  border: 1px solid #4169E1;
  border-radius: 4px;
  font-size: 12px;
}

.field a {
  padding-top: 10px;
  font-size: 12px;
}

.field label {
  display: block;
  font-family: RobotoL;
}

/*Campo de Senha*/

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle i {
  color: #999;
}

.password-toggle i:hover {
  color: #333;
}

/*Esqueceu a Senha*/

.Esqueceu-senha {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  font-family: RobotoL;
  padding-top: 5px;
}

/*Linha abaixo do Esquecer a Senha*/

.linha {
  border-bottom: 1px solid black;
  margin: 0px 0;
  padding-top: 0px;
  padding-bottom: 20px;
}

/*Botão de Entrar*/

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: 0.2s;
}

.create-account-button {
  padding: 10px 30px;
  font-size: 16px;
  background-color: #fff; 
  color: #636363; 
  border: 1px solid #4169E1;
  border-radius: 10px;
  padding-bottom: 10px;
  transition: .2s;
}

.create-account-button:hover{
  background-color: #4169E1;
  color: #fff;
  cursor: pointer;
}

/*Mensagem de Cadastro*/

.cadastro-message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-family: RobotoL;
}