/*Menu*/

/*Importação das Tipografias*/

@font-face {
  font-family: Cunia;
  src: url(../tipografia/Cunia/Cunia.ttf);
}

@font-face {
  font-family: RobotoL;
  src: url(../tipografia/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoB;
  src: url(../tipografia/Roboto/Roboto-Bold.ttf);
}

header {
    background-color: #021346;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
}
  
.logo {
    font-family: Cunia;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 20px;
    display: flex;
}

.logo img{
    padding-top: 15px;
    width: 40px;
    height: 40px;
}

/*Barra de Pesquisa*/

.search-bar {
    display: flex;
    align-items: center;
}
  
.search-input {
    border: 1px solid #1547E0;
    border-right: #942b2b;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
}
  
.search-input input {
    width: 370px;
    height: 30px;
    padding: 5px;
    font-family: RobotoL;
    font-size: 14px;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;    
}
  
.search-button {
    background: white;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    text-align: left;
}
  
.advanced-search {
    margin-left: 0px;
    border: #1547E0 1px solid;
    border-left: #000000;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
  
.advanced-search button {
    background: white;
    border: none;
    color: #0000008c;
    font-family: RobotoL;
    font-size: 14px;
    height: 40px;
    border-left: #00000060 1px solid;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
  
/*Ícone de perfil e menu dropdown*/

.user-profile {
    position: relative;
    padding-right: 30px;
}
  
.user-profile button {
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  
.dropdown-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #FFFFFF transparent transparent transparent;
    margin-left: 5px;
}

.user-profile {
    position: relative;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 150px;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.user-profile:hover .dropdown-menu {
  display: block;
}

.user-profile .dropdown-menu:hover {
  display: block;
}

.show {
    display: block;
}
  
.dropdown-menu li .divider{
  margin-bottom: 5px;
}

.dropdown-menu li .text{
  display: flex;
  align-items: center;
  padding: 5px;
}

.dropdown-menu a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  font-family: RobotoB;
  font-size: 11px;
}

.dropdown-menu a:hover {
  background-color: #F0F0F0;
}

.dropdown-menu li.divider {
  position: relative;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.dropdown-menu li.divider::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #fff;
}

.dropdown-menu li img {
  padding-right: 20px;
}