/*Referente a página Perfil.html*/

/*Importação de Fontes*/

@font-face {
    font-family: RobotoL;
    src: url(../tipografia/Roboto/Roboto-Light.ttf);
}
  
@font-face {
    font-family: RobotoB;
    src: url(../tipografia/Roboto/Roboto-Bold.ttf);
}

/*Container em que ficará o conteúdo da página*/

.container-1 {
    width: 800px;
    margin: 5px auto;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.container-1 .perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 .informacao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 .diviser {
    justify-content: center;
}

/*Linhas da paágina*/

.diviser1 {
    border-bottom: 1px solid #021346;
    margin: 0px 0;
    display: block;
    width: 100%;
    margin-right: 20px;
    align-self: center;
}

.diviser2 {
    border-bottom: 1px solid #000000;
    margin: 0px 0;
    display: block;
    width: 100%;
    margin-right: 20px;
    align-self: center;
}

/*Espaço para a foto do usuário*/

.imagem_usuario {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    width: 70px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: center;
}

/*Estilização e modelação da página*/

.informacao {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 1%;
}

.informacao .info2 {
    align-items: center;
    justify-items: center;
    display: block;
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.info1 {
    align-items: center;
    padding: 60px;
    padding-bottom: 0px;
}

.info2 {
    padding: 22%;
    padding-top: 15px;
    padding-bottom: 3%;
    margin-bottom: 0px;
    
}

/*Linha que indica a aba*/

.aba {
    border-bottom: 1px solid #1548e0;
    margin: 0 auto;
    width: 60%;
    padding: 0px;
    margin-top: 2px;
}

/*Sub-Container com informações de contato*/

.sub_container {
    border: 1px solid #001E79;
    margin: 0px 0;
    width: 100%;
    margin-right: 20px;
    align-self: center;
    border-radius: 10px;
}

/*Estilização do h1 e p*/

.perfil h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: RobotoB;
}

.perfil p {
    font-size: 12px;
    font-family: RobotoL;
}

.informacao p {
    font-size: 14px;
    font-family: RobotoL;
}

.sub_container h1 {
    font-size: 17px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: RobotoB;
}

.abas {
    padding-left: none;
    margin: 0;
}

/*Container com as divs de imagem*/

.contato {
    display: block;
}

/*Imagens/Ícones da página*/

.Link {
    width: 30px;
    height: 20px;
}

.Email_ico {
    width: 33px;
    height: 30px;
}

.Linkedin {
    height: 30px;
    width: 30px;
}

.sub_container img  {
    padding: 6px;
    padding-left: 30px;
}