/*Referente a página de Perguntas_Frequentes.html*/

/*Importação de Fontes*/

@font-face {
    font-family: RobotoL;
    src: url(../tipografia/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoB;
  src: url(../tipografia/Roboto/Roboto-Bold.ttf);
}

/*Container em que ficará o título da página*/

.container-1 {
    width: 800px;
    margin: 5px auto;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.titulo_pag {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 260px;
    text-align: center;
}

.titulo_pag h2{
    font-family: ;
}


.container-2{
    width: 600px;
    margin: 20px auto;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 10px;
}

.container-3{
    width: 600px;
    margin: 20px auto;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 10px;
}