/*Referente ao Rodapé*/

/*Importação de Fontes*/

@font-face {
    font-family: Cunia;
    src: url(../tipografia/Cunia/Cunia.ttf);
}

@font-face {
    font-family: RobotoB;
    src: url(../tipografia/Roboto/Roboto-Bold.ttf);
}

/*Base do Rodapé*/

.footer {
    background-color: #021346;
    color: white;
    padding: 10px;
}
  
.footer-content {
    max-width: 600px;
    margin: 0;
    display: block;
    justify-content: flex-start;
    align-items: start;
    padding-left: 30px;
}

/*Logo*/
  
.footer-logo h1 {
    font-family: Cunia;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 10px;
}

.footer-logo{
    display: flex;
    align-items: center;
}

.email {
    width: 50px;
    height: 40px;
    padding-left: 5px;
}

.logo {
    width: 50px;
    height: 60px;
    padding-right: 5px;
    padding-left: 0px;
}

/*Referente as informações*/
  
.footer-links a {
    font-size: 14px;
    padding-left: 5px;
    font-family: RobotoB;
    color: white;
    text-decoration: none;
}
  
.divisora {
    border-left: 1px solid #001E79;
    margin: 0 10px;
}