/*Referente a página Perfil.html*/

/*Importação de Fontes*/

@font-face {
    font-family: RobotoL;
    src: url(../tipografia/Roboto/Roboto-Light.ttf);
}
  
@font-face {
    font-family: RobotoB;
    src: url(../tipografia/Roboto/Roboto-Bold.ttf);
}

/*Container em que ficará o conteúdo da página*/

.container{
    width: 800px;
    margin: 5px auto;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-left: 20px;
    align-items: center;
}

/*Estilização e modelação da página*/

.sub_container1{
    display: flex;
    width: 100%;
}

.sub_container1 .info_basica {
    display: block;
}

.info_basica {
    width: 100%;
    padding-right: 40px;
}

.info_basica div {
    margin-left: 30px;
    width: 100%;
}

.info_basica .campo_descricao {
    height: 100%;
}

.titulo_tcc {
    width: 100%;
    border-bottom: #001E79 1px solid;
    border-top: #001E79 1px solid;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    height: 30px;
    padding-right: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    font-family: RobotoB;
    color: black;
}

.campo_descricao {
    padding-bottom: 18px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.upload{
    width: 100%;
}

.upload{
    display: flex;
    align-items: center;
}

.topico{
    justify-content: flex-start;
    display: flex;
    width: 50%;
}

.upload_zip {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.sub_container2 {
    border: 1px solid #001E79;
    margin: 0px 0;
    width: 100%;
    margin-right: 20px;
    align-self: center;
    border-radius: 10px;
    display: block;
}

/*Formatação h1*/

.topico h1 {
    font-size: 17px;
    padding-left: 20px;
    font-family: RobotoB;
}

/*Formatação do Botão*/

button.custom-button1 {
    border: none;
    border-radius: 4px;
    background-color: #001E79;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    padding: 1px;
    height: 30px;
    width: 110px;
    font-family: RobotoL;
    display: flex;
    align-items: center;
    text-align: center;
}

.custom-button1 {
    align-items: center;
    justify-content: center;
}

.custom-button1 img{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    
}

/*Capa do TCC*/

.capa_tcc {
    border: 1px solid black;
    padding: 20px;
    width: 160px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Campo do título do TCC*/

.titulo {
    width: 90%;
    height: 100%;
    border: none;
    font-family: RobotoB;
    color: black;
    
}

/*Mudança de cor no placeholder*/

.titulo::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
}

.titulo::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
}

.titulo:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: black;
}

.titulo:-moz-placeholder, textarea:-moz-placeholder {
  color: black;
}

/*Campo da descrição*/

.textarea {
    resize: none;
    width: 100%;
    height: 56%;
    font-family: RobotoB;
    padding: 10px;
}

/*Aba com as informações que precism ser colocadas*/

.sub_container2 .infoblock1, .infoblock2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.info, .info1, .info2 {
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 2px;
    padding-left: 10px;
    height: 40px;
}

.info2 {
    align-items: center;
}

.sessao, .sessao1, .sessao2{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
}

.infoblock1, h2{
    font-family: RobotoB;
    font-size: 15px;
    padding: none;
    margin: 0;
}

.sessao1, .info1{
    border-right: #1547E0 1px solid;
    border-bottom: #1547E0 1px solid;
}

.sessao2, .info2{
    border-bottom: #1547E0 1px solid;
}

.sessao {
    border-right: #1547E0 1px solid;
}

#info {
    border-right: #1547E0 1px solid;
}

.Input_info {
    border: none;
    font-family: RobotoL;
    font-size: 13px;
    padding: 5px;
    margin: 3px;
}

.Input_info:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.custon_select {
    border: none;
    font-family: RobotoL;
    font-size: 13px;
    padding: 5px;
    margin: 3px;
}

.custon_select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.info2 p{
    padding: none;
    margin: 0;
}

#Autores {
    font-family: RobotoL;
    border: none;
    width: 90%;
    resize: none;
}

#Autores:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}